* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-bg-color: #435944;
    --beige-color: #CAB170;
}

html {
    cursor: url('images/cursor.png'), auto;
}

body {
    font-family: 'Lusitana', sans-serif;
}

p,
a {
    font-family: 'Raleway', serif;
}

header {
    background-color: var(--nav-bg-color);
    color: white;
    padding: 1.4rem 1.6rem;
    position: sticky;
    top: 0;
    font-size: 1.2rem;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav :nth-child(1) {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav div :nth-child(1) {
    width: 45px;
    height: 45px;
}

nav :nth-child(4) {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

.burger-icon {
    cursor: pointer;
    display: none;
}

.burger-icon :nth-child(1) {
    width: 40px;
    height: 40px;
}

#check {
    display: none;
}

a {
    font-size: 1.06rem;
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

a:hover {
    color: var(--beige-color)
}

#about {
    color: var(--beige-color);
}

main {
    background-color: #CAB170;
    height: auto;
}

article {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
}

.card {
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
}

.imageInCard {
    height: 500px;
    width: 350px;
    border-radius: 3px;
}

.Writing {
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    color: white;
}

.words {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

card:hover {
    cursor: pointer;
}

.card:hover .Writing {
    height: 220px;
    bottom: 240px;
}

.card:hover .words {
    opacity: 1;
    visibility: visible;
    filter: blur(0px);
    font-weight: bold;
}

.container:hover img {
    filter: blur(3px);
}

.brown {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.second-article {
    width: auto;
    background: white;
}

.second-article-sections {
    display: flex;
    width: auto;
}

.black-header {
    color: black;
}

.second-article-pictures {
    height: 400px;
    width: 80%;
}

.second-first-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    padding: 10px;
}

footer {
    width: auto;
    height: 70px;
    display: flex;
    background-color: #435944;
    align-items: center;
    justify-content: center;
    position: sticky;
}

@media (max-width: 490px) {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        padding: 20px;
    }
}

@media (min-width: 580px) {
    #check:checked~ul {
        display: flex;
        gap: 2rem;
    }
}

@media (max-width: 580px) {
    header {
        padding: 0.8rem 0.8rem;
    }

    nav :nth-child(4) {
        display: none;
        width: 100%;
        padding: 1.3rem 0;
    }


    li {
        text-align: center;
    }

    #check:checked~ul {
        display: flex;
        flex-direction: column;

    }


    .burger-icon {
        display: block;
    }

}

@media (max-width: 850px) {
    .second-article-sections {
        flex-direction: column;
        align-items: center;
    }
}
