* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-bg-color: #435944;
    --beige-color: #CAB170;
}

html {
    cursor: url('images/cursor.png'), auto;
}

body {
    font-family: 'Lusitana', sans-serif;

}

p,
a {
    font-family: 'Raleway', serif;
}

/*header section*/
header {
    background-color: var(--nav-bg-color);
    color: white;
    padding: 1.4rem 1.6rem;
    position: sticky;
    top: 0;
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav :nth-child(1) {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav div :nth-child(1) {
    width: 45px;
    height: 45px;
}

nav :nth-child(4) {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}

#home-underline {
    text-decoration: underline;
}

.burger-icon {
    cursor: pointer;
    display: none;
}

.burger-icon :nth-child(1) {
    width: 40px;
    height: 40px;
}

#check {
    display: none;
}

a {
    font-size: 1.06rem;
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

a:hover {
    color: var(--beige-color)
}


/*main section*/
main {
    background-color: #CAB170;
    height: auto;
}

.image-right {
    width: 300px;
    height: 300px;
    padding-right: 30px;

}

section {
    display: flex;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    font-size: 30px;
    color: #5E2F04;
    justify-content: center;
    align-items: center;
}

.image-left {
    padding-left: 30px;
    width: 300px;
    height: 300px;
}

.icons {
    height: 32px;
    width: 32px;
    padding-left: 10px;
    padding-top: 10px;
}


/*footer section*/
/*footer{*/
/*    width:auto;*/
/*    height:70px;*/
/*    display: flex;*/
/*    background-color: #435944;*/
/*    align-items: center;*/
/*    justify-content:center;*/
/*}*/

/*media queries*/
@media (max-width: 495px) {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        height: auto;
    }
}

@media (min-width: 580px) {
    #check:checked~ul {
        display: flex;
        gap: 2rem;
    }
}

@media (max-width: 580px) {
    header {
        padding: 0.8rem 0.8rem;
    }

    nav :nth-child(4) {
        display: none;
        width: 100%;
        padding: 1.3rem 0;
    }
    
    section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    
    .image-left {
        order: -1;
        padding-left: 0;
        width: 200px;
        height: 250px;
    }
    
    .image-right{
        padding-right: 0;
        width: 200px;
        height: 200px;
    }


    li {
        text-align: center;
    }

    #check:checked~ul {
        display: flex;
        flex-direction: column;

    }
    
    @media (max-width: 700px) {
        
    }


    .burger-icon {
        display: block;
    }

}
